//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 09 17 17:00:06 2023


IO_LOC "HIN_T" K7;
IO_PORT "HIN_T" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "HIN_S" L10;
IO_PORT "HIN_S" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "HIN_R" L7;
IO_PORT "HIN_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "_LIN_T" G7;
IO_PORT "_LIN_T" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "_LIN_S" F5;
IO_PORT "_LIN_S" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "_LIN_R" H8;
IO_PORT "_LIN_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// Hall Sensor
IO_LOC "HS[2]" E11;
IO_PORT "HS[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "HS[1]" K11;
IO_PORT "HS[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "HS[0]" A11;
IO_PORT "HS[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
// Toggle SW
IO_LOC "toggleSW[2]" F7;
IO_PORT "toggleSW[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "toggleSW[1]" J8;
IO_PORT "toggleSW[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "toggleSW[0]" L9;
IO_PORT "toggleSW[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
// Tact SW

IO_LOC "tacSW[1]" L5;
IO_PORT "tacSW[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tacSW[0]" H5;
IO_PORT "tacSW[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
//ADC MCP3008
IO_LOC "AD_CLK" F1;
IO_PORT "AD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS" B2;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DIN" C2;
IO_PORT "DIN" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DOUT" F2;
IO_PORT "DOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

//CAN
IO_LOC "CAN_LED0" A9;
IO_PORT "CAN_LED0" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CAN_LED1" B9;
IO_PORT "CAN_LED1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CAN_S" D11;
IO_PORT "CAN_S" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CAN_TX" C11;
IO_PORT "CAN_TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CAN_RX" B11;
IO_PORT "CAN_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CAN_WS" G11;
IO_PORT "CAN_WS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

//
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
